{% extends 'base.html.twig' %}

{% block title %}{{'title'|trans}} - {{'about'|trans}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/detail.css') }}" rel="stylesheet"/>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/main.js') }}" defer></script>
    <script src="{{ asset('js/about.js') }}" defer></script>
{% endblock %}

{% block toggle_translation %}
    <div class="d-inline-flex justify-content-center align-items-center" id="switch_lang">
        <a class="py-1 px-2" href="{{ path('page_about', {_locale: locale_translation}) }}">
            {{ locale_translation }}
        </a>
    </div>
{% endblock %}

{% block template_name %}detail{% endblock %}

{% block body %}
<div class="container-fluid">

    <div id="h1_container" class="row p-3 bg-black sticky">
        <h1 class="t3 g-0">{{'about'|trans}}</h1>
    </div>

    <main class="row p-3 p-sm-4 p-lg-5">

        <div class="row g-0">

            <div class="col-12 col-lg-2 col-xl-3">
                <ul id="about_pages">
                    {% for page in pages %}
                    <li class="toggler{% if loop.first %} active{% endif %}" data-target="{{page.slug}}"><a href="#{{page.slug}}">{{ page.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <div id="container_toggler_targets" class="col-12 col-lg-7 col-xl-6">
                {% for page in pages %}
                <article class="page t2 toggler_target {% if loop.first %}active{% endif %}" data-target="{{page.slug}}">
                    {% apply markdown_to_html %}
                    {{ page.body|raw }}
                    {% endapply %}
                </article>
                {% endfor %}
            </div>

        </div>

    </main>

</div>

{% endblock %}