{% extends 'base.html.twig' %}

{% block title %}{{'title'|trans}} - {{'the_contributors'|trans}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/detail.css') }}" rel="stylesheet"/>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/Lemma.js') }}" defer></script>
    <script src="{{ asset('js/contributors.js') }}" defer></script>
{% endblock %}

{% block toggle_translation %}
    <div class="d-inline-flex justify-content-center align-items-center" id="switch_lang">
        <a class="py-1 px-2" href="{{ path('page_contributors', {_locale: locale_translation}) }}">
            {{ locale_translation }}
        </a>
    </div>
{% endblock %}

{% block template_name %}detail{% endblock %}

{% block body %}
<div class="container-fluid">

    <div id="h1_container" class="row p-3 bg-black sticky">
        <h1 class="t3 g-0">{{'the_contributors'|trans}}</h1>
    </div>

    <main class="row p-3 p-sm-4 p-lg-5">

        <div class="row g-0">

            <div class="col-12 col-lg-2 col-xl-3 pe-3">
                <p>{{'text_contributors'|trans}}</p>
            </div>

            <div class="col-12 col-lg-7 col-xl-6">                

                <article id="list_contributors">
                {% for contributor in contributors %}
                    <h2 class="contributor">{{ contributor.firstname }} {{ contributor.name }}</h2>
                    <ul></ul>
                {% endfor %}
                </article>
            </div>

        </div>

    </main>

</div>

<template class="li_template">
    <li class="t2">
        <a href="">
            <span>Action</span>
            <span>Action</span>
        </a>
    </li>
</template>
{% endblock %}