{% extends 'base.html.twig' %}

{% block title %}{{'title'|trans}} - {{ page }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/detail.css') }}" rel="stylesheet"/>
{% endblock %}

{% block toggle_translation %}
    <div class="d-inline-flex justify-content-center align-items-center" id="switch_lang">
        <a class="py-1 px-2" href="{{ path('page_detail', {slug: page.slug, _locale: locale_translation}) }}">
        {{ locale_translation }}
        </a>
    </div>
{% endblock %}

{% block template_name %}detail{% endblock %}

{% block body %}
<div class="container-fluid">

    <div id="h1_container" class="row p-3 bg-black sticky">
        <h1 class="t3 g-0">
        {{ page.title }}
        </h1>
    </div>

    <main class="row p-3 p-sm-4 p-lg-5">

        <div class="row g-0">

            <div class="col col-lg-7 offset-lg-3">
                <article class="page t2">
                    {% apply markdown_to_html %}
                        {{ page.body }}
                    {% endapply %}
                </article>
            </div>

        </div>

    </main>

</div>
{% endblock %}