


/* TABLE */

table {
	width: 100%;
}
table th,
table td {
	text-indent: 0px;
	padding: 10px;
}



/* LISTES */

article ul {
	position: relative;
	padding-left: var(--text-indent);
}
article ul li { text-indent: 0px; }
article ul li:before {
	content: "—";
	position: absolute;
	left: 0px;
}
article ol {
	counter-reset: ol_counter;
	padding-left: var(--text-indent);
}
article ol li {
	text-indent: 0px;
	position: relative;
}
article ol li:before {
	counter-increment: ol_counter;
	content: counter(ol_counter) ".";
	position: absolute;
	left: calc(var(--text-indent) * -1);
	top: 5px;
	font-size: var(--fs-1);
}

article#list_contributors li:before { content: ""; }

/* metadatas */

#metadatas ul {
	list-style: disc;
	margin-left: 18px;
}

.detail #h1_container {
	top: -1px;
}
.detail h1 span:nth-child(2) {
	font-size: var(--fs-2);
}
.detail h1 span:nth-child(2)::before {
    content: "— ";
}



.detail main a, 
#page_container a { text-decoration: underline; }
.detail .caption a { text-decoration: none; }
.detail main a:hover,
#page_container a:hover { text-decoration: none; }

.detail li.active {
	text-decoration: underline;
}

.detail article.bibliography,
.detail article.definition {
	overflow-x: hidden;
}
.detail article.definition { margin-bottom: 3rem; }
.detail .square {
	flex-shrink: 0;

    width: 30px;
    height: 30px;
    margin-right: 0px !important;
}
.detail article > *:not(h2) {
	margin-bottom: 1.5rem;
	text-indent: var(--text-indent);
}
.detail article.contribution p:nth-child(1) {
	text-indent: 0px;
}
.detail article.contribution p:last-child {
	text-indent: 40px;
}
.detail article.notice p:last-child,
.detail article.definition p:last-child,
.detail article.contribution p:last-child,
.detail article.contribution p:nth-child(1) {
	font-size: var(--fs-1);
	padding-left: 0px;
}


.detail article.bibliography {}

/* texte en sticky sur les contributions */
.detail article.contribution p:first-child,
.detail article.contribution p:last-child {
	position: sticky;
	z-index: 10;
	background-color: var(--color-recto);

	margin-bottom: 0px;
	padding-bottom: .5rem;
	padding-top: .5rem;
}
.detail article.contribution p:first-child {
	top: 85px;
	margin-bottom: .5rem;
}
.detail article.contribution p:last-child {
	position: sticky;
	bottom: 0px;
}

.detail .separator {
	/*padding-right: 8.3333333333vw;*/
	text-align: center;
	margin-bottom: 3rem;
}

.container_tab_contrib {
	display: grid;
	grid-template-columns: 50% 50%;
	gap: 10px;
}
.tab_contrib {
	display: flex;

	cursor: pointer;
}
.detail .tab_contrib .square {
	height: 100%;
}
.tab_contrib .header {
	padding: 10px 0px 7px 10px;
	border-bottom: 3px solid var(--color-recto);
}
.detail .tab_contrib p {
    font-size: var(--fs-1);
}
.detail .tab_contrib.active .header {
    border-bottom: 3px solid var(--color-verso);
}

#container_multiple_contributions article {
	display: none;
}
#container_multiple_contributions article.active {
	display: block;
}

/* alignement optique */
@media (min-width: 993px) {
	#metadatas {
		margin-top: 12px;
	}
}

/* TOOLS BOX */
#tools_box {
	max-width:250px;
	margin-top: 12px;
	position: relative;
}
.detail #caption_box {
	width:100%;
	position: absolute;
    grid-template-columns: repeat(1, 1fr);
}

/* TAB */
.tab_container div {
	position: relative;
}

.tab_container .caption {
	display: flex;
	align-items: stretch;
	margin-bottom: 10px;

}
.tab_container .caption:not(.notice) {
	cursor: pointer;
}
.tab_container .caption .corresp {
	flex: 1;

	display: flex;
	align-items: center;
	padding-left: 10px;
	padding-top: 2px;

	border-bottom: 3px solid var(--color-recto);
}
.tab_container .square {
	width: 50px !important;
	height: 50px !important;
	margin-right: 15px;
}

.tab_container .square {
	z-index: 1;
	
	position: relative;
	overflow: hidden;
	
	position: relative;
}
.tab_container h2 {}
.tab_container > * {
}
.tab_container .active .corresp {
	/* font-family: 'Vollkorn Bold Italic'; */
	border-bottom: 3px solid var(--color-verso);
}
.tab_container .caption:not(.notice):hover .corresp {
	border-bottom: 3px solid var(--color-verso);
}

#container_toggler_targets > *:not(.active) {
	display: none;
}




/* PAGE STATIQUE SEULE */

.page p {
	text-indent: var(--text-indent) !important;
}
.page li p {
	text-indent: 0px !important;
}
.page p strong {
    margin-top: 1rem;
    display: block;
}




/* PAGE ABOUT */

#about_pages {
	position: relative;
}
ul#about_pages { list-style: disc; }
#about_pages li a { text-decoration: none; }
#about_pages span {
	cursor: pointer;
}
@media (min-width: 992px) {

#about_pages {
	position: sticky;
	top: 122px;
}

}





/* PAGE CONTRIBUTORS */

#list_contributors ul { list-style: none; text-indent: 0px !important; }
#list_contributors li a {
	text-decoration: none;
	color: var(--color-verso);
	border: 1px solid var(--color-verso);
	margin-top: -1px;

	display: block;
	position: relative;
	padding: 4px 6px 2px 6px;
}
#list_contributors a span:nth-child(2) { font-size: var(--fs-1); }
#list_contributors a span:nth-child(2)::before { content: "— "; }
/* RESPONSIVE */

/* ≤576px */
@media (max-width: 576px) {}

/* ≤992px */
@media (max-width: 992px) {
:root {
	--text-indent: 15px;
}

button.toggler {
	right: -15px;
}

button.toggler::before {
	width: 33px;
	height: 33px;
}

.detail article.contribution p:first-child {
	padding-right: 15px;
}

}


