

#index a {
    color: var(--color-recto);
    text-decoration: none;
    display: block;
}

#index a span:nth-child(2):not(.modified) {
    font-size: var(--fs-1);
}
#index a span:nth-child(2):not(.modified)::before {
    content: "— ";
}

#index #list_container a h2 {
    border: 1px solid var(--color-verso);
    border-bottom: none;
    color: var(--color-verso);

    position: relative;
    padding: 4px 6px 2px 6px;
}
h2:first-letter {
      text-transform: uppercase;
}

aside {
    display: flex;

    border: 1px solid var(--color-verso);
}

aside div {
    z-index: 1;
    height: 30px;
    padding: 10px;
    position: relative;
    overflow: hidden;
    flex: 1;
    position: relative;
}

aside div[data-w="0"] {
    flex: 0;
    width: 0px;
    margin: 0px;
    padding: 0px;
}
aside div[data-w="1"] {
    flex: 1;
}
aside div[data-w="2"] {
    flex: 2;
}
aside div[data-w="3"] {
    flex: 3;
}
aside div[data-w="4"] {
    flex: 4;
}
aside div[data-w="5"] {
    flex: 5;
}





/* TOOLS BOX */

article p {
    margin-bottom: 1.5rem;
}
article a { text-decoration: underline; }
article a:hover { text-decoration: none; }
#tools_box {
    border: 1px solid var(--color-verso);
    top: calc(66px + 10px);
    z-index: 9;
}







/* --- SEARCH BOX --- */
/* https://shipow.github.io/searchbox/#tabprefix */

.sbx-custom {
    display: inline-block;
    position: relative;
    width: auto;
    white-space: nowrap;
    box-sizing: border-box;
    font-size: 14px;
}

.sbx-custom__wrapper {
    width: 100%;
}

.sbx-custom__input {
    display: inline-block;
    border: 0;
    border-radius: 1px;
    box-shadow: inset 0 0 0 2px var(--grey);
    background: var(--color-recto);
    
    padding: 9px;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    white-space: normal;
    
    font-family: var(--hkgrotesk_regular);
    font-size: inherit;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.sbx-custom__input::-webkit-search-decoration, .sbx-custom__input::-webkit-search-cancel-button, .sbx-custom__input::-webkit-search-results-button, .sbx-custom__input::-webkit-search-results-decoration {
    display: none;
}
.sbx-custom__input {
    border: 1px solid var(--color-verso);
    height: 47px;
}
.sbx-custom__input:hover {}

.sbx-custom__input:focus, .sbx-custom__input:active {
    outline: 0;
    border: 1px solid var(--color-verso);
    background: var(--color-recto);
}

.sbx-custom__input::-webkit-input-placeholder {
    font-family: var(--hkgrotesk_regular);
    color: var(--grey);
}

.sbx-custom__input::-moz-placeholder {
    font-family: var(--hkgrotesk_regular);
    color: var(--grey);
}

.sbx-custom__input:-ms-input-placeholder {
    font-family: var(--hkgrotesk_regular);
    color: var(--grey);
}

.sbx-custom__input::placeholder {
    font-family: var(--hkgrotesk_regular);
    color: var(--grey);
}

.sbx-custom__submit {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    left: inherit;
    margin: 0;
    border: 0;
    border-radius: 0 0px 0px 0;
    background-color: rgba(255, 255, 255, 0);
    padding: 0;
    width: 37px;
    height: 47px;
    vertical-align: middle;
    text-align: center;
    font-size: inherit;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sbx-custom__submit::before {
    display: inline-block;
    margin-right: -4px;
    height: 100%;
    vertical-align: middle;
    content: '';
}

.sbx-custom__submit:hover, .sbx-custom__submit:active {
    
}

.sbx-custom__submit:focus {
    outline: 0;
}

.sbx-custom__submit svg {
    width: 17px;
    height: 17px;
    vertical-align: middle;
    fill: var(--color-verso);
}

.sbx-custom__reset {
    display: none;
    position: absolute;
    top: 5px;
    right: 37px;
    margin: 0;
    border: 0;
    background: none;
    cursor: pointer;
    padding: 0;
    font-size: inherit;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    fill: var(--color-verso);
}

.sbx-custom__reset:focus {
    outline: 0;
}

.sbx-custom__reset svg {
    display: block;
    margin: 4px;
    width: 19px;
    height: 19px;
}

.sbx-custom__input:valid ~ .sbx-custom__reset {
    display: block;
}