* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



/* TYPOGRAPHIE */

:root {
	--fs-0: .8rem;
	--fs-1: .9rem;
	--fs-2: 1.2rem;
	--fs-3: 1.7rem;

	--text-indent: 60px;
}
/* sm : ≥576px */
@media (min-width: 576px) {
	:root {
		--fs-3: 1.9rem;
	}
}
/* md : ≥768px */
@media (min-width: 768px) {}
/* lg : ≥992px */
@media (min-width: 992px) {}
/* xl : ≥1200px */
@media (min-width: 1200px) {
	:root {
		--fs-1: 1rem;
		--fs-2: 1.3rem;
		--fs-3: 2rem;
	}
}
/* xxl : ≥1400px */
@media (min-width: 1400px) {
	:root {
		--fs-2: 1.4rem;
	}
}

@font-face {
    font-family : 'Vollkorn Regular';
    src : url('../fonts/Vollkorn/Vollkorn-Regular.ttf');
}
@font-face {
    font-family : 'Vollkorn Italic';
    src : url('../fonts/Vollkorn/Vollkorn-Italic.ttf');
}
@font-face {
    font-family : 'Vollkorn Bold Italic';
    src : url('../fonts/Vollkorn/Vollkorn-BoldItalic.ttf');
}
@font-face {
    font-family : 'Vollkorn Bold';
    src : url('../fonts/Vollkorn/Vollkorn-Bold.ttf');
}

body {
	font-family : 'Vollkorn Regular';
}

em, strong, h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-style: normal;
}
strong {
	font-family : 'Vollkorn Bold';
}

#switch_lang a {
	text-decoration: none !important;
}
em {
	font-family : 'Vollkorn Italic';
}

.t0 {
	font-size: var(--fs-0);
}
body,
h1, h2, h3, h4, h5, h6,
.t1 {
	font-size: var(--fs-1);
}
.t2 {
	font-size: var(--fs-2);
}
.t3 {
	font-size: var(--fs-3);
}

article h2 {
	font-size: var(--fs-3);
}
article h3, article h4, article h5, article h6 {
	font-size: var(--fs-2);
}

sup { vertical-align: top; font-size: 0.6em; }




/* LISTES */

ul, ol { list-style: none; }



/* COULEURS */

:root {
	--color-recto: #f0f3f3;
	--color-verso: #262f38;
	--color-verso2: #5c5c64;
}

body {
	color: var(--color-verso);
	background: var(--color-recto);
}

/* hyperliens */
a {
	color: var(--color-verso);
}
header a, footer a, h1 a {
	color: var(--color-recto);
}

.bg-black {
	background-color: var(--color-verso);
	color: var(--color-recto);
}

/* language switch */
#switch_lang {
	border: 3px dotted var(--color-recto);
}
#switch_lang a {
	color: var(--color-recto);
}

/* footer */
footer {
	background-color: var(--color-verso);
	color: var(--color-recto);
}




/* SCREEN */
.print {
	display: none;
}



/* GRID */

.w-100 {
    width: 100% !important;
}



/* LAYOUT */

/* pr aussurer que le footer soit en bas de l'écran même si la page est petite */
body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
footer { margin-top: auto; }



/* HEADER */

header {
	position: sticky;
	z-index: 10;
	top: 0px;
}
body.detail header {
	position: static;
}
header > div { height: 35px; }
header img, header div > a { display: block; flex-shrink: 0; }
header img {
	max-height: 15px;
}
header nav { margin-left: 21px; }
nav ul {
	display: flex;
	list-style: none;
}
nav ul li {
	display: flex;
	align-items: center;
}
nav ul li:not(:last-child)::after {
    /* display: inline-block; */
    content: '|';
    padding-left: 10px;

    position: absolute;
	top: 0px; right: -12px;
}
nav ul li:not(:last-child) {
	position: relative;
	margin-right: 21px;
}
nav ul li a {
	display: flex;
	align-items: center;
}
nav ul li a img {
	margin-right: 10px;
}
nav a {text-decoration: none; }
nav a:hover {text-decoration: underline; }
nav .current a { text-decoration: underline; }



/* LANGUAGE SWITCH */

#switch_lang {
	border-radius: 100%;
	width: 35px;
	height: 35px;
	margin-left: 1.5rem;
}




/* FOOTER */

footer {
	position: relative;
	z-index: 1;
	
	min-height: 43vh;
	border-top: 1px solid var(--color-recto);
}

footer ul {
	margin-left: 0px;
}
footer ul#list_logos {
    display: flex;
    flex-wrap: wrap;
}
footer ul#list_logos li {
    list-style: none;
    margin-right: 50px;
    margin-bottom: 1rem;
}
footer img {
    max-width: 100%;
    max-height: 50px;
    mix-blend-mode: exclusion;
}



/* IMG */

img {
	max-width: 100%;
}



/* BACKGROUNDS */

/*
	Backgrounds pour les pages List et Detail + la légende
	"background-attachment" change suivant les cas
*/

.square.notice,
aside .notice,
article.notice::after {
	background-image: radial-gradient(circle, var(--color-recto) 1.7px, transparent 1.7px), radial-gradient(var(--color-recto) 1.7px, transparent 1.7px);
	background-position: 0px 0px, 50px 50px;
	background-color: var(--color-verso);
	background-size: 14px 14px;
}

.square.definition,
aside .definition,
article.definition::after {
	background: repeating-linear-gradient(
		-45deg,
		var(--color-recto),
    	var(--color-recto) 5px,
    	var(--color-verso) 5px,
    	var(--color-verso) 17px
    );
}

.square.bibliography,
aside .bibliography,
article.bibliography::after {
	background: repeating-linear-gradient(
		45deg,
		var(--color-recto),
    	var(--color-recto) 7px,
    	var(--color-verso) 7px,
    	var(--color-verso) 10px
    );
}

.square.contribution,
aside .contribution,
article.contribution::after {
	background-image: radial-gradient(circle, var(--color-verso) 2.5px, transparent 2.5px), radial-gradient(var(--color-verso) 2.5px, var(--color-recto) 2.5px);
	background-position: -3px 0px, 56px 58px;
	background-size: 13px 13px;
}

.square {
	background-attachment: scroll;
}

aside .square,
article::after {
	background-attachment: fixed !important;
}




/* STICKY */

.sticky {
	position: sticky;
	top: 0px;
	z-index: 100;
}





/* SELECT */

.select {
    display: flex;
    flex-wrap: wrap;

    list-style: none;
    margin-left: 0px;
}
.select li {
    cursor: pointer;
    margin-right: 10px;
	background: var(--color-recto);

    position: relative;
    border: 1px solid var(--color-verso);
    padding: 1px 2px 0px 2px;
}
.select li:before {

}
.select li.selected:before {
    content: "";
    background-color: var(--color-verso);
    display: block;
    border-radius: 100%;
    
    position: absolute;
    width: 12px; height: 12px;
    top: -8px; right: -8px;
}

#select_cats.select li.selected:before {
	background-color: var(--color-recto);
	border: 1px solid var(--color-verso);
}




/* TOGGLER */

#caption_box button {
	position: absolute;
	top: 0px; right: -45px;
	z-index: 10;

	border: none;
	font-family: 'Vollkorn Regular';
	cursor: pointer;
	background: none;
}
#caption_box button:before {
	content: "+";

	background-color: var(--color-verso);
	color: var(--color-recto);

	display: block;
	border-radius: 100%;
	width: 35px;
	height: 35px;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

#caption_box.active button:before {
	content: "−";
}

/* reglages pr template list */
#caption_box button {
 	z-index: 10;
 	top: -13px; right: -12px;
}
#caption_box button:before {
 	width: 25px;
 	height: 25px;
}




/* HOME */

#graph_container {
	position: relative;
}
@media (min-width: 992px) {
	#graph_container {
		min-height: 100vh;
	}
}

/* block intro */

#introduction {
	position: relative;
	z-index: 9;
	background-color: var(--color-recto);
	border: 1px solid var(--color-recto);
}

#introduction article {}
#introduction article p {
	margin-bottom: 1.5rem;
}
#introduction #logos {
	margin-left: 0px;
	list-style: none;
	display: flex;
}
#introduction #logos img {
	max-width: 100%;
	max-height: 50px;
}

#introduction .close_button {
	display: none;

	cursor: pointer;
	position: absolute;
	right: 0px; bottom: 0px;
	height: 35px; width: 35px;
	
	background: var(--color-verso);
	color: var(--color-recto);
	font-size: var(--fs-2);
}
@media (min-width: 992px) {
	#introduction .close_button  {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

/* svg */

#graph_container .svg_container {
	border: 1px solid var(--color-verso);
	background-color: var(--color-verso);
	cursor: move;

	height: calc(100vh - 67px);
	width: 100%;
	position: fixed;
	top: 67px;
	left: 0px;
}

#graph_container svg circle, svg text {
	cursor: pointer;
}
#graph_container svg circle, svg text {
	fill: var(--color-recto);
}
#graph_container svg line {
	stroke: var(--color-recto);
}
#graph_container svg .selected {
	text-decoration: underline;
}
#graph_container svg .not_active {
	opacity: .4;
}
#graph_container svg line.not_active {
	opacity: .2;
}

/* graph tools */

#graph_tools {
	position: absolute;
	top: 0px; left: 20px;
}

#random_lemma {
	display: block;
	position: absolute;
	
	margin-left: auto;
	top: 0px; right: 20px;
}

#graph_tools button, #random_lemma {
	font-family: 'Vollkorn Regular';
	font-size: inherit;
	color: var(--color-verso);
	background-color: var(--color-recto);
	border: none;

	padding: 4px 8px;
	
	cursor: pointer;
}

/* fiche container */

#fiche_container {
	position: relative;
	margin-left: auto;
	right: 20px;

	top: 40px;
	padding-bottom: 80px;
}
#fiche_container:empty { padding-bottom: 0px; }
#fiche .close_button {
	cursor: pointer;
	position: absolute;
	right: 0px;
	bottom: 0px;
	height: 35px;
	width: 35px;
	background: var(--color-verso);
	color: var(--color-recto);
	font-size: var(--fs-2);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 11;
}

#fiche {
	position: relative;

	background-color: var(--color-recto);
	border: 1px solid var(--color-recto);
}

#fiche a {
    border-bottom: 1px solid var(--color-verso);
    color: var(--color-verso);
    position: relative;
    padding: 4px 6px 2px 6px;
    display: block;
    text-decoration: none;
}

#fiche a::after {
    content: "↗";
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 35px;
    background: var(--color-verso);
    color: var(--color-recto);
    font-size: var(--fs-2);
    display: flex;
    justify-content: center;
    align-items: center;
}
#fiche .square {
    width: 35px;
    height: 35px;
    border: 1px solid var(--color-verso);
}
#fiche .notice > :not(:nth-child(1)) {
    display: none;
}
#fiche ul.related { list-style: disc; margin-left: 18px; }
#fiche .related li { text-decoration: underline; cursor: pointer;}
#fiche .related li:hover { text-decoration: none; }



/* TOOLS BOX */
#caption_box {
    position: relative;
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    
}
#tools_box h2 {}

#tools_box .description {
    display: none;
    margin: 5px 7px 0px 7px;
}
#caption_box.active .description {
    display: block;
}
#caption_box .caption {
    display: flex;
    justify-content: center;

    position: relative;
    height: 30px;
    border: 1px solid var(--color-verso);

    cursor: pointer;
}

#caption_box .caption .square {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

#caption_box .caption .corresp {
    position: relative;
    z-index: 2;

    padding: 0px 4px 0px 4px;
    display: flex;
    align-items: center;

    background-color: var(--color-recto);
}
summary {
    cursor: pointer;
}



/* RESPONSIVE */

/* sm : ≥576px */
@media (min-width: 576px) {}
/* md : ≥768px */
@media (min-width: 768px) {}
/* lg : ≥992px */
@media (min-width: 992px) {}
/* xl : ≥1200px */
@media (min-width: 1200px) {}
/* xxl : ≥1400px */
@media (min-width: 1400px) {}