
@media print {}

* {
	box-sizing: border-box;
}
body { margin: 0; }


:root {
	--fs-0: .8rem;
	--fs-1: 1rem;
	--fs-2: 1.2rem;
	--fs-3: 1.7rem;

	--color-recto: white;
	--color-verso: #262f38;

	--text-indent: 20px;
}

/* PAGES */

.term { 
	/* page-break-after: always; */
	margin-bottom: 2cm;
}

/* HEADER */
@media print {
	header {
		display: none !important;
	}
}
header a { color: var(--color-recto); }
header > div { height: 35px; }
header img, header div > a { display: block; flex-shrink: 0; }
header img {
	max-height: 15px;
}
nav ul {
	display: flex;
	list-style: none;
}
nav ul li {
	display: flex;
	align-items: center;
}
nav ul li:not(:last-child)::after {
    /* display: inline-block; */
    content: '|';
    padding-left: 10px;

    position: absolute;
	top: 0px; right: -12px;
}
nav ul li:not(:last-child) {
	position: relative;
	margin-right: 21px;
}
nav ul li a {
	display: flex;
	align-items: center;
}
nav ul li a img {
	margin-right: 10px;
}
nav a {text-decoration: none; }
nav a:hover {text-decoration: underline; }
nav .current a { text-decoration: underline; }

.bg-black {
    background-color: var(--color-verso);
    color: var(--color-recto) !important;
}

/* COLORS */

body, a {
	color: var(--color-verso);
}

/* CAPTION */


.tab_container .square {
    width: 35px !important;
    height: 35px !important;
}

.caption {
	display: flex;
	align-items: center;
}

.caption .corresp {
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 10px;
}


/* FONT FACE */
@font-face {
    font-family : 'Vollkorn Regular';
    src : url('../fonts/Vollkorn/Vollkorn-Regular.ttf');
}
@font-face {
    font-family : 'Vollkorn Italic';
    src : url('../fonts/Vollkorn/Vollkorn-Italic.ttf');
}
@font-face {
    font-family : 'Vollkorn Bold Italic';
    src : url('../fonts/Vollkorn/Vollkorn-BoldItalic.ttf');
}
@font-face {
    font-family : 'Vollkorn Bold';
    src : url('../fonts/Vollkorn/Vollkorn-Bold.ttf');
}

/* TYPO */

body { font-family : 'Vollkorn Regular'; }
em, strong, h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-style: normal;
}
strong { font-family : 'Vollkorn Bold'; }
em { font-family : 'Vollkorn Italic'; }


article > *:not(h2) {
	text-align: justify;
	text-justify: inter-word;
}

.t2 article {
	font-size: var(--fs-1);
}

h2.title span:nth-child(2) {
    font-size: var(--fs-1);
}
h2.title span:nth-child(2)::before {
    content: "— ";
    font-size: var(--fs-2);
}
article > :not(h2) {
    text-indent: var(--text-indent);
}

article.notice p:last-child,
article.definition p:last-child,
article.contribution p:last-child,
article.contribution p:first-child {
	font-size: var(--fs-0);
}

.caption .corresp h2 {
	font-size: var(--fs-1);
}
.separator {
	text-align: center;
}


/* FOOTER */

footer .col-md-6 {
	width: 100%;
}
footer .select,
footer .col-md-3 {
	display: none;
}

footer .col-md-3 ul {
	display: none;
}
footer ul#list_logos {
    display: flex;
    flex-wrap: wrap;
}
footer ul#list_logos li {
    list-style: none;
    margin-right: 50px;
    margin-bottom: 1rem;
}
footer img {
    max-width: 100%;
    max-height: 50px;
}
footer .screen { display: none; }


/* BACKGROUNDS */

/*
	Backgrounds pour les pages List et Detail + la légende
	"background-attachment" change suivant les cas
*/

.square.notice {
	background-image: radial-gradient(circle, var(--color-recto) 1.7px, transparent 1.7px), radial-gradient(var(--color-recto) 1.7px, transparent 1.7px);
	background-position: 0px 0px, 50px 50px;
	background-color: var(--color-verso);
	background-size: 14px 14px;
}

.square.definition {
	background: repeating-linear-gradient(
		-45deg,
		var(--color-recto),
    	var(--color-recto) 5px,
    	var(--color-verso) 5px,
    	var(--color-verso) 17px
    );
}

.square.bibliography {
	background: repeating-linear-gradient(
		45deg,
		var(--color-recto),
    	var(--color-recto) 7px,
    	var(--color-verso) 7px,
    	var(--color-verso) 10px
    );
}

.square.contribution {
	background-image: radial-gradient(circle, var(--color-verso) 2.5px, transparent 2.5px), radial-gradient(var(--color-verso) 2.5px, var(--color-recto) 2.5px);
	background-position: -3px 0px, 56px 58px;
	background-size: 13px 13px;
}