{% extends 'base.html.twig' %}

{% block title %}Backup{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/detail.css') }}" rel="stylesheet"/>
{% endblock %}

{% block template_name %}Backup{% endblock %}

{% block body %}

<div class="container-fluid">

	<div id="h1_container" class="row p-3 bg-black sticky">
		<h1 class="t3 g-0">Backup</h1>
	</div>

	<main class="row p-3 p-md-4 p-lg-5">
		
		<div class="row g-0">
			
			<div class="col-12 order-2 col-lg-2 col-xl-3 order-lg-1 pb-4">
				<div class="mb-3">
				{{ message }}
				</div>
			</div>
		<div>
	</main>

</div>

{% endblock %}

