{% extends 'base.html.twig' %}

{% block title %}{{'title'|trans}} - {{ term.prefLabel[0] }}{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('lib/bootstrap-grid.min.css') }}" rel="stylesheet"/>
	<link href="{{ asset('css/print.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}

		<script>window.print();</script> 
		
		<div class="term">
		<h2 class="t2 title">
			{% for prefLabel in term.prefLabel %}
			<span>{{ prefLabel }}</span>
			{% endfor %}
		</h2>

		<div class="mb-3">
			<a rel="license" target="_blank" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">
				<img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" />
			</a>
			<br />{{'license_1'|trans}} <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">{{'license_2'|trans}}</a>.
		</div>

		<div id="container_editorial" class="t2">
			<div class="tab_container">
				<div class="caption notice">
					<div class="square notice"></div>
					<div class="corresp"><h2 class="t1">{{'note'|trans}}</h2></div>
				</div>
			</div>
			{% if term.editorialNote %}
				{% for editorial in term.editorialNote %}
					<article class="notice">{{ editorial|raw }}</article>
				{% endfor %}
			{% endif %}
		</div>

			<div id="container_contribution" class="t2">
					<div class="tab_container pb-3">
						<div class="caption">
							<div class="square contribution"></div>
							<div class="corresp"><h2 class="t1">{% if term.scopeNote|length > 1 %}{{'contributions'|trans}}{% else %}{{'contribution'|trans}}{% endif %}</h2></div>
						</div>
					</div>
					{% if term.scopeNote %}
					{% for contribution in term.scopeNote %}
						<article class="contribution toggler_target">{{ contribution.value|raw }}</article>
						{% if term.scopeNote|length > 1 %}
							<p class="separator">∵</p>
						{% endif %}
					{% endfor %}
					{% else %}
						<article class="contribution"><p>{{'0_contribution'|trans}}</p></article>
					{% endif %}
				</div>

			<div id="container_definition" class="t2">
					<div class="tab_container pb-3">
						<div class="caption">
							<div class="square definition"></div>
							<div class="corresp"><h2 class="t1">{% if term.definition|length > 1 %}{{'definitions'|trans}}{% else %}{{'definition'|trans}}{% endif %}</h2></div>
						</div>
					</div>

					{% if term.definition %}
					{% for definition in term.definition %}
						<article class="definition">{{ definition|raw }}</article>
						<p class="separator">∵</p>
					{% endfor %}
					{% else %}
						<article class="definition"><p>{{'0_definition'|trans}}</p></article>
					{% endif %}
			</div>

			<div id="container_bibliography">
				<div class="tab_container pb-3">
						<div class="caption">
							<div class="square bibliography"></div>
							<div class="corresp"><h2 class="t1">{% if term.note|length > 1 %}{{'definitions'|trans}}{% else %}{{'bibliography'|trans}}{% endif %}</h2></div>
						</div>
					</div>

					{% if term.note %}
					{% for bibliography in term.note %}
						<article class="bibliography">{{ bibliography|raw }}</article>
					{% endfor %}
					{% else %}
					<p>{{'0_bibliography'|trans}}</p>
					{% endif %}
				</div>
			</div>
{% endblock %}
