{% extends 'base.html.twig' %}

{% block title %}{{'title'|trans}} - {{ term.prefLabel[0] }}{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/detail.css') }}" rel="stylesheet"/>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/main.js') }}" defer></script>
	<script src="{{ asset('js/detail.js') }}" defer></script>
{% endblock %}

{% block toggle_translation %}
    <div class="d-inline-flex justify-content-center align-items-center" id="switch_lang">
		<a class="py-1 px-2" href="{{ path('detail', {id: term.identifier, _locale: locale_translation}) }}">
			{{ locale_translation }}
		</a>
	</div>
{% endblock %}

{% block template_name %}detail{% endblock %}

{% block body %}

<div class="container-fluid">

	<div id="h1_container" class="row p-3 bg-black sticky">
		<h1 class="t3 g-0">
			{% for prefLabel in term.prefLabel %}
				{% if not loop.last %}
				<span>{{ prefLabel }}</span>
				{% else %}
				<span>
					<a class="" href="{{ path('detail', {id: term.identifier, _locale: locale_translation}) }}">{{ prefLabel }}</a>
				</span>
				{% endif %}
			{% endfor %}
		</h1>
	</div>

	<main class="row p-3 p-md-4 p-lg-5">
		
		<div class="row g-0">
			
			<div class="col-2 col-xl-3 pe-4">

				<div id="tools_box" class="d-none d-xl-block t1">
					
					<p class="mb-2">— {{'caption'|trans}}</p>

					<div id="caption_box" class="pb-3 toggler toggler_target" data-target="test">

						<button class="t2"></button>
						<div class="composante">
							<div class="caption">
								<div class="square notice"></div>
								<div class="corresp"><h2 class="t1">{{'notes'|trans}}</h2></div>
							</div>
							<div class="description t0">
								<p>{{'note_caption'|trans}}</p>
							</div>
						</div>
						<div class="composante">
							<div class="caption">
								<div class="square definition"></div>
								<div class="corresp"><h2 class="t1">{{'definitions'|trans}}</h2></div>
							</div>
							<div class="description t0">
								<p>{{'definition_caption'|trans}}</p>
							</div>
						</div>
						<div class="composante">
							<div class="caption">
								<div class="square contribution"></div>
								<div class="corresp"><h2 class="t1">{{'contributions'|trans}}</h2></div>
							</div>
							<div class="description t0">
								<p>{{'contribution_caption'|trans}}</p>
							</div>
						</div>
						<div class="composante">
							<div class="caption">
								<div class="square bibliography"></div>
								<div class="corresp"><h2 class="t1">{{'bibliography'|trans}}</h2></div>
							</div>
							<div class="description t0">
								<p>{{'bibliography_caption'|trans}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="container_editorial" class="col-12 order-1 col-lg-7 order-lg-2 col-xl-6 t2">
				<div class="">
					<div class="col-1 col-xl-2 tab_container pb-3">
						<div class="caption notice">
							<div class="square notice"></div>
							<div class="corresp"><h2 class="t2">{{'note'|trans}}</h2></div>
						</div>
					</div>
				{% if term.editorialNote %}
					{% for editorial in term.editorialNote %}
						<article class="notice mb-4 mb-lg-5">{{ editorial|raw }}</article>
					{% endfor %}
				{% endif %}
				</div>
			</div>

			<div class="order-3 col-12 col-lg-3 d-flex align-content-start flex-wrap g-0 pb-4 t1 ps-lg-4" id="metadatas">

				{% if term.memberOf %}
				<div class="me-4 mb-3">
					<p>{% if term.memberOf|length > 1 %}{{'categories'|trans}}{% else %}{{'categorie'|trans}}{% endif %}&nbsp;:</p>
					<ul>
						{% for memberOf in term.memberOf %}
						<li><a href="{{ path('list', {memberOf: memberOf}) }}">{{ memberOf }}</a></li>
						{% endfor %}
					</ul>

				</div>
				{% endif %}

				{% if term.related %}
				<div class="mb-3">
					<p>{% if term.related|length > 1 %}{{'relateds'|trans}}{% else %}{{'related'|trans}}{% endif %}&nbsp;:</p>
					<ul>
						{% for related in term.related %}
						<li><a href="{{ related.identifier }}">{{ related.prefLabel }}</a></li>
						{% endfor %}
					</ul>
				</div>
				{% endif %}

				{% if term.narrower %}
				<div class="mb-3">
					<p>{% if term.narrower|length > 1 %}{{'narrowers'|trans}}{% else %}{{'narrower'|trans}}{% endif %}&nbsp;:</p>
					<ul>
						{% for narrower in term.narrower %}
						<li><a href="{{ narrower.identifier }}">{{ narrower.prefLabel }}</a></li>
						{% endfor %}
					</ul>
				</div>
				{% endif %}

				{% if term.broader %}
				<div class="mb-3">
					<p>{% if term.broader|length > 1 %}{{'broaders'|trans}}{% else %}{{'broader'|trans}}{% endif %}&nbsp;:</p>
					<ul>
						{% for broader in term.broader %}
						<li><a href="{{ broader.identifier }}">{{ broader.prefLabel }}</a></li>
						{% endfor %}
					</ul>
				</div>
				{% endif %}

				<div class="w-100"></div>
				
				<div class="mb-3 d-none d-md-block">
					{% if term.created %}
						<p>{{'created'|trans}} : {{ term.created }}.</p>
					{% endif %}
					{% if term.modified %}
						<p>{{'modified'|trans}} : {{ term.modified }}.</p>
					{% endif %}
				</div>

				<div class="mb-3">
					<a rel="license" target="_blank" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">
						<img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" />
					</a>
					<br />{{'license_1'|trans}} <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">{{'license_2'|trans}}</a>.
				</div>

				<div class="mb-3 w-100">
					<a href="{{ path('page_graph', {id: term.identifier}) }}">{{'graph_lemma'|trans}}</a>
				</div>
				<a target="_blank" href="{{ path('detail_print', {id: term.identifier}) }}">{{'print_lemma'|trans}}</a>
			</div>

		</div>
		

		<div class="tab_container col col-lg-7 offset-lg-2 col-xl-6 offset-xl-3 row g-0 mb-4">
			<div class="col-12 col-sm me-3">
				<div class="caption toggler {% if term.scopeNote|length >= 1 %}active{% endif %}" data-target="contribution">
					<div class="square contribution"></div>
					<div class="corresp"><h2 class="t2">{% if term.scopeNote|length > 1 %}{{'contributions'|trans}}{% else %}{{'contribution'|trans}}{% endif %}</h2></div>
				</div>
			</div>
			<div class="col-12 col-sm me-3">
				<div class="caption toggler {% if term.scopeNote|length < 1 %}active{% endif %}" data-target="definition">
					<div class="square definition"></div>
					<div class="corresp">
						<h2 class="t2">{% if term.definition|length > 1 %}{{'definitions'|trans}}{% else %}{{'definition'|trans}}{% endif %}</h2>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm">
				<div class="caption toggler" data-target="bibliography">
					<div class="square bibliography"></div>
					<div class="corresp"><h2 class="t2">{{'bibliography'|trans}}</h2></div>
				</div>
			</div>
		</div>

		<div class="row g-0">


			<div id="container_toggler_targets" class="col col-lg-7 offset-lg-2 col-xl-6 offset-xl-3 t2">
				
				<div class="toggler_target {% if term.scopeNote|length < 1 %}active{% endif %}" data-target="definition">
					{% if term.definition %}
					{% for definition in term.definition %}
						<article class="definition">{{ definition|raw }}</article>
						<p class="separator">∵</p>
					{% endfor %}
					{% else %}
					<p>{{'0_definition'|trans}}</p>
					{% endif %}
				</div>
				

				<div class="toggler_target {% if term.scopeNote|length >= 1 %}active{% endif %}" data-target="contribution">
					{% if term.scopeNote %}

						{% if term.scopeNote|length <= 1 %}
						<div class="row g-0 mb-5">
							<article class="contribution">{{ term.scopeNote[0].value|raw }}</article>
						</div>
						{% else %}
						<div class="container_tab_contrib mb-4">
							{% for contribution in term.scopeNote %}
							<div class="tab_contrib">
								<div class="square contribution"></div>
								<div class="header">
									{{ contribution.header|raw }}
								</div>
							</div>
							{% endfor %}
						</div>
						<div id="container_multiple_contributions" class="row g-0 mb-5">
							{% for contribution in term.scopeNote %}
							<article class="contribution">{{ contribution.value|raw }}</article>
							{% endfor %}
						</div>
						{% endif %}
					{% else %}
					<p>{{'0_contribution'|trans}}</p>
					{% endif %}
				</div>
				
				<div class="toggler_target" data-target="bibliography">
					{% if term.note %}

					{% for bibliography in term.note %}
						<article class="bibliography">{{ bibliography|raw }}</article>
						<p class="separator">∵</p>
					{% endfor %}
					{% else %}
					<p>{{'0_bibliography'|trans}}</p>
					{% endif %}
				</div>
				
			</div>

		</div>

	</main>

</div>

{% endblock %}

