{% extends 'base.html.twig' %}

{% block title %}{{'title'|trans}} - UGA{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/detail.css') }}" rel="stylesheet"/>
{% endblock %}

{% block javascript_lib %}
    <script src="{{ asset('lib/d3/d3.min.js') }}"></script>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/Lemma.js') }}" defer></script>
    <script src="{{ asset('js/main.js') }}" defer></script>
    <script src="{{ asset('js/graph.js') }}" defer></script>
{% endblock %}

{% block toggle_translation %}
    <div class="d-inline-flex justify-content-center align-items-center" id="switch_lang">
        <a class="py-1 px-2" href="{{ path('page_graph', {_locale: locale_translation}) }}">
        {{ locale_translation }}
        </a>
    </div>
{% endblock %}

{% block body %}

<main id="graph_container">

    {% if not is_graph %}
    <div id="introduction_container" class="close_target">
    <div id="introduction" class="col-12 col-lg-6 p-5">

        <div class="close_button">×</div>

        <h1 class="t3">{{'title'|trans}}</h1>
                    
        <h2 class="t2">{{'sub_title'|trans}}</h2>

        <article class="t2 mt-5">
            {% apply markdown_to_html %}
                {{ introduction }}
            {% endapply %}
        </article>
        
    </div>
    </div>
    {% endif %}

    <div class="svg_container"></div>

    <div id="graph_tools" class="g-0 pb-4">
        <ul id="select_cats" class="select pb-2" data-filter="cat">
            <li class="mt-2 selected" data-option="Approche">{{'approach'|trans}}</li>
            <li class="mt-2 selected" data-option="Concept">{{'concept'|trans}}</li>
            <li class="mt-2 selected" data-option="Méthode">{{'method'|trans}}</li>
        </ul>
        <button class="mb-2 me-2" onclick="zoomIn()">+</button>
        <button class="mb-2" onclick="zoomOut()">−</button>
        <br>
        <button onclick="resetGraph()">Reset</button>
    </div>
    
    <button id="random_lemma" onclick="handleNodeClick(graph)">{{'random_lemma'|trans}}</button>

    <div id="fiche_container" class="close_target col-5 col-lg-4 col-xl-3 g-0 g-0"></div>

</main>

<template class="fiche_template">
    <div id="fiche">
       <a href="">
            <h2 class="t2 title"><span></span><span></span></h2>
       </a>
       <div class="row pt-3 px-3">
            <div class="col-auto">
                <div class="square notice"></div>
            </div>
            <div class="col">
                <article class="notice"></article>
            </div>
        </div>
        <div class="row py-3 px-3">
            <p>{{'relateds'|trans}}&nbsp;:</p>
            <ul class="related"></ul>
       </div>
       <div class="close_button">×</div>
    </div>
</template>


{% endblock %}