{% extends 'base.html.twig' %}

{% block title %}{{'title'|trans}} - {{'list'|trans}}{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/list.css') }}" rel="stylesheet"/>
{% endblock %}

{% block javascript_lib %}
    <script src="{{ asset('lib/d3/d3.min.js') }}" defer></script>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
    <script src="{{ asset('js/Lemma.js') }}" defer></script>
	<script src="{{ asset('js/list.js') }}" defer></script>
{% endblock %}


{% block toggle_translation %}
    <div class="d-inline-flex justify-content-center align-items-center" id="switch_lang">
		<a class="py-1 px-2" href="{{ path('list', {_locale: locale_translation}) }}">
			{{ locale_translation }}
		</a>
	</div>
{% endblock %}


{% block body %}

<main class="container-fluid p-3 p-sm-4 p-lg-5">

	<div class="row">
		
		<div class="col-12 col-lg-5 mb-3">

				<div id="tools_box" class="sticky col-12 p-3 t1">
					
					<div id="compteur_container"></div>

					<p class="mb-2">— {{'caption'|trans}}</p>

					<div id="caption_box" class="pb-3 toggler toggler_target" data-target="test">

						<button class="t2"></button>

						<div class="composante">
							<div class="caption">
								<div class="square notice"></div>
								<div class="corresp"><h2 class="t1">{{'notes'|trans}}</h2></div>
							</div>
							<div class="description t0">
								<p>{{'note_caption'|trans}}</p>
							</div>
						</div>
						<div class="composante">
							<div class="caption">
								<div class="square definition"></div>
								<div class="corresp"><h2 class="t1">{{'definitions'|trans}}</h2></div>
							</div>
							<div class="description t0">
								<p>{{'definition_caption'|trans}}</p>
							</div>
						</div>
						<div class="composante">
							<div class="caption">
								<div class="square contribution"></div>
								<div class="corresp"><h2 class="t1">{{'contributions'|trans}}</h2></div>
							</div>
							<div class="description t0">
								<p>{{'contribution_caption'|trans}}</p>
							</div>
						</div>
						<div class="composante">
							<div class="caption">
								<div class="square bibliography"></div>
								<div class="corresp"><h2 class="t1">{{'bibliography'|trans}}</h2></div>
							</div>
							<div class="description t0">
								<p>{{'bibliography_caption'|trans}}</p>
							</div>
						</div>
					</div>

					<div class="tools">
						
						<p>— {{'search'|trans}}</p>
						<div id="search" class="col py-2">
							<form novalidate="novalidate" onsubmit="return false;" class="searchbox sbx-custom">
								<div role="search" class="sbx-custom__wrapper">
									<input class="search sbx-custom__input" type="text" name="fulltext_search" placeholder="" autocomplete="off" required="required">
									<button type="submit" title="Submit your search query." class="sbx-custom__submit">
										<svg role="img" aria-label="Search">
											<use xlink:href="#sbx-icon-search-3"></use>
										</svg>
									</button>
								</div>
							</form>
						</div>

						<details>
							<summary class="my-2">{{'advanced_search'|trans}}</summary>
							<div class="row pb-3">
								<div class="col col-md-12">
									<p>— {{'categories'|trans}}</p>

									<ul id="filter_cats" class="select pb-3" data-filter="memberOf">
										<li class="mt-2 selected" data-option="Approche">{{'approach'|trans}}</li>
										<li class="mt-2 selected" data-option="Concept">{{'concept'|trans}}</li>
										<li class="mt-2 selected" data-option="Méthode">{{'method'|trans}}</li>
									</ul>
								</div>
								<div class="col">
									<p>— {{'sort_order'|trans}}</p>

									<ul id="sort_order" class="select" data-filter="sort_order">
										<li class="mt-2 selected" data-option="asc">{{'ascending'|trans}}</li>
										<li class="mt-2 " data-option="desc">{{'descending'|trans}}</li>
									</ul>
								</div>
							</div>
						</details>

					</div>
				
				</div>

		</div> <!--- .col -->

		<div id="index" class="col-12 col-lg-7">

			<!--- <p class="t1">{{'list_of_lemmas'|trans}}</p> --->
			<div id="list_container">

				<div class="list"></div>
			</div>
		</div> <!--- .col -->

	</div> <!--- .row -->

</main>

<template class="term_template">
	<a class="term mb-3" href="{{ path('detail', {id: 'x'}) }}" data-cat="">
		<h2 class="t2 title">
			<span class="label_local"></span>
			<span class="label_translated"></span>
		</h2>
		<aside>
			<div class="notice" data-w=""></div>
			<div class="definition" data-w=""></div>
			<div class="contribution" data-w=""></div>
			<div class="bibliography" data-w=""></div>
		</aside>
	</a>
</template>


<svg xmlns="http://www.w3.org/2000/svg" style="display:none">
	<symbol xmlns="http://www.w3.org/2000/svg" id="sbx-icon-search-3" viewBox="0 0 40 41">
		<path d="M26.51 28.573c-2.803 2.34-6.412 3.748-10.35 3.748C7.236 32.32 0 25.087 0 16.16 0 7.236 7.235 0 16.16 0c8.926 0 16.16 7.235 16.16 16.16 0 4.213-1.61 8.048-4.25 10.925L40 39.015l-1.524 1.524L26.51 28.572zm-10.35 2.132c8.033 0 14.545-6.512 14.545-14.544S24.193 1.617 16.16 1.617 1.617 8.128 1.617 16.16c0 8.033 6.512 14.545 14.545 14.545z" fill-rule="evenodd"></path>
	</symbol>
	<symbol xmlns="http://www.w3.org/2000/svg" id="sbx-icon-clear-5" viewBox="0 0 20 20">
		<path d="M10 20c5.523 0 10-4.477 10-10S15.523 0 10 0 0 4.477 0 10s4.477 10 10 10zm1.35-10.123l3.567 3.568-1.225 1.226-3.57-3.568-3.567 3.57-1.226-1.227 3.568-3.568-3.57-3.57 1.227-1.224 3.568 3.568 3.57-3.567 1.224 1.225-3.568 3.57zM10 18.272c4.568 0 8.272-3.704 8.272-8.272S14.568 1.728 10 1.728 1.728 5.432 1.728 10 5.432 18.272 10 18.272z" fill-rule="evenodd"></path>
	</symbol>
</svg>


<template class="fiche_template">
    <div id="fiche" class="pb-3">
        <div class="row">
            <div class="lemmas t1">
                <span></span>
                <span>{{'lemmes'|trans}}</span>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-auto">
                <div class="square definition"></div>
            </div>
            <div class="col">
                <div class="corresp definition t1">
                    <span></span>
                    <span>{{'citations'|trans}}</span>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-auto">
                <div class="square contribution"></div>
            </div>
            <div class="col">
                <div class="corresp contribution t1">
                    <span></span>
                    <span>{{'perspective_fr'|trans}}</span>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-auto">
                <div class="square contribution"></div>
            </div>
            <div class="col">
                <div class="corresp contribution t1">
                    <span></span>
                    <span>{{'perspective_en'|trans}}</span>
                </div>
            </div>
        </div>
    </div>
</template>

{% endblock %}
