{% set locale_translation = app.request.getLocale() == "fr" ? 'en' : 'fr' %}
{% set uri = app.request.requesturi %}
{% set pathInfo = app.request.pathInfo %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1" />

        <meta name="keywords" content="performance, recherche-création, lexique, performascope" />
        <meta name="description" content="Lexique interdisciplinaire des performances et de la recherche-création." />
        <meta name="image" content="" />
        <meta name="robots" content="" />
        <link rel="canonical" href="https://performance-lab.huma-num.fr/" />
        <meta property="og:site_name" content="Performascope" />
        <meta property="og:title" content="Performascope" />
        <meta property="og:url" content="https://performance-lab.huma-num.fr/" />
        <meta property="og:description" content="Lexique interdisciplinaire des performances et de la recherche-création." />

        <title>{% block title %}{% endblock %}</title>

        {% block stylesheets %}
            <link href="{{ asset('lib/bootstrap-grid.min.css') }}" rel="stylesheet"/>
            <link href="{{ asset('css/main.css') }}" rel="stylesheet"/>
        {% endblock %}

        {% block javascript_lib %}{% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/main.js') }}" defer></script>
        {% endblock %}

    </head>
    <body class="{% block template_name %}{% endblock %}">

        <script type="text/javascript">
            var user_lang = "{{ app.request.getLocale() }}";
            var data_url = "{{ path('data') }}";
        </script>

        <header class="row g-0 bg-black p-3">
            <div class="col-12 col-sm d-flex align-items-center">
                <a href="https://www.univ-grenoble-alpes.fr/" target="_blank" rel="noreferrer noopener"><img alt="" src="{{asset('img/logos/logo_uga_4.png')}}"></a>
                <nav>
                    <ul>
                        <li class="{%if(uri==path('page_graph'))%}current{%endif%}"><a href="{{ path('page_graph') }}">{{'title'|trans}}</a></li>
                        <li class="{%if('?id' in uri or 'graph' in uri)%}current{%endif%} d-none d-lg-block"><a href="{{path('page_graph',{layout:'graph'})}}"><img src="{{asset('img/menu/graph.png')}}"> <span>{{'graph'|trans}}</span></a></li>
                        <li class="{%if 'list' in uri%}current{%endif%}"><a href="{{ path('list') }}"><img src="{{asset('img/menu/list.png')}}"> <span>{{'list'|trans}}</span></a></li>
                        <!--
                        <li class="{%if('?id' in uri or 'graph' in uri)%}current{%endif%}"><a href="{{path('page_graph',{layout:'graph'})}}">Graph</a></li>
                        <li class="{%if 'list' in uri%}current{%endif%}"><a href="{{ path('list') }}">{{'list'|trans}}</a></li>
                        -->
                    </ul>
                </nav>
            </div>
            <div class="col-12 col-sm d-flex align-items-center justify-content-end">
                <nav>
                    <ul>
                        <li class="{%if 'about' in uri%}current{%endif%}"><a href="{{ path('page_about') }}">{{'about'|trans}}</a></li>
                        <li class="{%if 'contributors' in uri%}current{%endif%}"><a href="{{path('page_contributors')}}">{{'contributors'|trans}}</a></li>
                    </ul>
                </nav>
                {% block toggle_translation %}{% endblock %}
            </div>   
        </header>

        {% block body %}{% endblock %}

        <footer class="container-fluid p-3 p-sm-4 p-md-5">
            
            <nav>
                <ul class="pb-5 d-flex">
                    <li class="{%if 'about' in uri%}current{%endif%}"><a href="{{path('page_about')}}">{{'about'|trans}}</a></li>
                    <li class="{%if 'contributors' in uri%}current{%endif%}"><a href="{{path('page_contributors')}}">{{'contributors'|trans}}</a></li>
                    <li class="{%if('?id' in uri or 'graph' in uri)%}current{%endif%} d-none d-lg-block"><a href="{{path('page_graph',{layout:'graph'})}}">{{'graph'|trans}}</a></li>
                    <li class="{%if 'list' in uri%}current{%endif%}"><a href="{{ path('list') }}">{{'list'|trans}}</a></li>
                    <li class="{%if 'legal_disclaimer' in uri%}current{%endif%}"><a href="{{ path('page_detail', {slug: 'legal_disclaimer'}) }}">{{'legal_disclaimer'|trans}}</a></li>
                </ul>
            </nav>

            <!---
            <div class="select col-md-3">
                {% if versions|default %}
                <form>des contribut
                <select name="version" onchange="this.form.submit()">
                    <option value="&nbsp;">Versions</option>
                    {% for version in versions.values %}
                    <option value="{{ version }}">{{ version }}</option>
                    {% endfor %}
                </select>
                <div class="select_arrow"></div>
                </form>
                {% endif %}
            </div>
            --->
                
            <ul id="list_logos">
                <li>
                    <a href="https://www.univ-grenoble-alpes.fr/" target="_blank" rel="noreferrer noopener">
                        <img class="screen" alt="" src="{{asset('img/logos/logo_uga.png')}}">
                        <img class="print" alt="" src="{{asset('img/logos/logo_uga_2.png')}}">
                    </a>
                </li>
                <li>
                    <img alt="" src="{{asset('img/logos/logo_idex.png')}}">
                </li>
                <li>
                    <a href="https://www.cnrs.fr/" target="_blank" rel="noreferrer noopener">
                        <img alt="" src="{{asset('img/logos/logo_cnrs.png')}}">
                    </a>
                </li>
                <li>
                    <a href="http://maisondelacreation.univ-grenoble-alpes.fr/" target="_blank" rel="noreferrer noopener">
                        <img alt="" src="{{asset('img/logos/logo_sfr.png')}}">
                    </a>
                </li>
                <li>
                    <a href="https://performance.univ-grenoble-alpes.fr/" target="_blank" rel="noreferrer noopener">
                        <img alt="" src="{{asset('img/logos/logo_pl.png')}}">
                    </a>
                </li>
                <li>
                    <a href="https://www.pacte-grenoble.fr/" target="_blank" rel="noreferrer noopener">
                        <img alt="" src="{{asset('img/logos/logo-pacte_2.jpg')}}">
                    </a>
                </li>
                <li>
                    <a href="https://litt-arts.univ-grenoble-alpes.fr/" target="_blank" rel="noreferrer noopener">
                        <img alt="" src="{{asset('img/logos/logo_littarts.jpg')}}">
                    </a>
                </li>
                <li>
                    <a href="https://www.huma-num.fr/" target="_blank" rel="noreferrer noopener">
                        <img alt="" src="{{asset('img/logos/logo_humanum.png')}}">
                    </a>
                </li>
                <li>
                    <a href="https://www-ljk.imag.fr/" target="_blank" rel="noreferrer noopener">
                        <img alt="" src="{{asset('img/logos/logo-ljk.png')}}">
                    </a>
                </li>
                <li>
                    <a href="https://www.inria.fr/" target="_blank" rel="noreferrer noopener">
                        <img alt="" src="{{asset('img/logos/logo_inria.png')}}">
                    </a>
                </li>
            </ul>

            <p class="pt-5">{{'idex_sentence'|trans}}</p>
        
        </footer>
    </body>
</html>
